.action-buttons {
  position: sticky;
  bottom: 24px;
  left: 0;
  right: 0;
  margin-top: 24px;
}

.action-buttons > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
