.BookListByAuthor .ExpandedBook .author {
  display: none;
}

.BookEntry .ExpandButton {
  opacity: 0;
}

.BookEntry:hover .ExpandButton {
  opacity: 1;
}

.ExpandedBook .notes:not(.none) {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.ExpandedBook .notes.none,
.ExpandedBook .author.unknown {
  font-style: italic;
  opacity: 0.6;
}

.ExpandedBook .mtime {
  margin-bottom: 0.5em;
}

.ExpandedBook .buttons {
  justify-content: flex-end;
}

.ExpandedBook .buttons > :not(:first-child) {
  margin-left: 1em;
}
