.BookEdit {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
}

.BookEdit .bottom {
  flex-grow: 1;
  margin-bottom: 24px;
}

.BookEdit .MuiButton-root.delete {
  background: #c33;
  color: white;
}
